.DS_Store
cscope.*
tags
data/
bin/
include/
lib/
log/
corpus/
*.o
*.wav
obj/
*.log
valgrind.out

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.objs/
.deps/

html/
exp/
tmp/
output/
nohup.out
blas.mk

!src/bin/
