name="Default config" 

before="rm -rf test/tmp/case-01; mkdir -p test/tmp/case-01; mkdir -p test/output/; cp -r conf test/tmp/case-01"

script="./run.sh --data-dir test/tmp/data --conf-dir test/tmp/case-01/conf \
  --exp-dir test/tmp/case-01/exp --thresh 0 > test/output/case-01.out \
  && ./run.sh --data-dir test/tmp/data --conf-dir test/tmp/case-01/conf \
  --exp-dir test/tmp/case-01/exp --thresh 0.5 5 >> test/output/case-01.out \
  && ./run.sh --data-dir test/tmp/data --conf-dir test/tmp/case-01/conf \
  --exp-dir test/tmp/case-01/exp --thresh 1.0 5 >> test/output/case-01.out"

normalize="../tiny/test/normalize_log.sh"
compare_normalize=("expected/case-01.out:test/output/case-01.out")
