name="All models" 

before="if [ -d exp ]; then shu-err 'Please backup your exp dir'; exit 1; fi; mkdir -p test/output"

script="./run.sh > test/output/all.log"

normalize="./test/normalize_log.sh"
compare_normalize=("expected/all.log:test/output/all.log")
