name="CBOW"

before="./test/test_model_before.sh cbow"

script="./test/test_model_script.sh 3"

normalize="./test/normalize_log.sh"
compare_normalize=("expected/case-$SHU_CASE.out:test/output/case-$SHU_CASE.out")
