name="Input words"

_case_dir=test/tmp/case-$SHU_CASE
before="rm -rf ${_case_dir}; mkdir -p ${_case_dir}; cp -r conf ${_case_dir}/; ./run.sh --conf-dir ${_case_dir}/conf --exp-dir ${_case_dir}/exp 1,2 > /dev/null && (cd ../../src && make clean > /dev/null && CFLAGS=-D_CONNLM_TRACE_PROCEDURE_ make -j 4 > /dev/null)"

script="./test/test_input.sh ${_case_dir}/exp/maxent ${_case_dir} > ${_case_dir}/test_input.log"

after="(cd ../../src && make clean > /dev/null && CONNLM_NO_OPT=1 make -j 4 > /dev/null)"
