name="FST converter with RNN+MaxEnt"

_model=rnn+maxent
_step=7
_case_dir=test/tmp/case-$SHU_CASE

before="./test/test_model_before.sh ${_model} && ./test/test_model_script.sh ${_step}"

script="for wsm in 'beam' 'majority'; do ./test/test_fst_converter.sh ${_case_dir}/exp/ ${_case_dir}/conf/ ${_model} \${wsm} ${_case_dir}/fst_conv/\${wsm}; done > test/output/case-${SHU_CASE}.out 2>&1"

normalize="./test/normalize_log.sh"
compare_normalize=("expected/case-$SHU_CASE.out:test/output/case-$SHU_CASE.out")
