name="MaxEnt with minibatch" 

before="rm -rf test/tmp/case-03; mkdir -p test/tmp/case-03; mkdir -p test/output; cp -r conf test/tmp/case-03; perl -i -pe 's/MINI_BATCH[[:space:]]*:[[:space:]]*0/MINI_BATCH : 1/' test/tmp/case-03/conf/maxent/train.conf"

script="./run.sh --conf-dir test/tmp/case-03/conf --exp-dir test/tmp/case-03/exp 1,2 > test/output/case-03.out"

normalize="./test/normalize_log.sh"
compare_normalize=("expected/case-03.out:test/output/case-03.out")
