name="MaxEnt"

before="rm -rf test/tmp/case-$SHU_CASE; mkdir -p test/tmp/case-$SHU_CASE; mkdir -p test/output/; cp -r conf test/tmp/case-$SHU_CASE"

script="./run.sh --conf-dir test/tmp/case-$SHU_CASE/conf --exp-dir test/tmp/case-$SHU_CASE/exp 1-2 > test/output/case-$SHU_CASE.out"

normalize="./test/normalize_log.sh"
compare_normalize=("expected/case-$SHU_CASE.out:test/output/case-$SHU_CASE.out")
