name="Reading thread"

_case_dir=test/tmp/case-$SHU_CASE
before="rm -rf ${_case_dir}; mkdir -p ${_case_dir}; cp -r conf ${_case_dir}/; ./run.sh --conf-dir ${_case_dir}/conf --exp-dir ${_case_dir}/exp 1,2 > /dev/null"

script="./test/test_read.sh ${_case_dir}/exp/maxent ${_case_dir}> ${_case_dir}/test_read.log"
