name="FST converter with RNN"

_model=rnn
_step=5
_case_dir=test/tmp/case-$SHU_CASE

before="./test/test_model_before.sh ${_model} && ./test/test_model_script.sh ${_step}"

script="./test/test_fst_converter.sh ${_case_dir}/exp/${_model} ${_case_dir}/fst_conv > test/output/case-${SHU_CASE}.out 2>&1"

compare=("expected/case-$SHU_CASE.out:test/output/case-$SHU_CASE.out")
