name="RNN+MaxEnt with minibatch & sync"

before="./test/test_model_before.sh rnn+maxent mini+sync"

script="./test/test_model_script.sh 7"

normalize="./test/normalize_log.sh"
compare_normalize=("expected/case-$SHU_CASE.out:test/output/case-$SHU_CASE.out")
